@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --bee-blue: #4891ff;
  --bee-black: #161616;
  --bee-white: #ffffff;
  --bee-gray: #b7b7b7;

  --max-width: 1440px;

  --color-text: #161616;
  --color-contrast: #ffffff;
}

body[data-theme='dark'] {
  --color-text: #ffffff;
  --color-contrast: #161616;
}

.bee-blue {
  color: var(--bee-blue) !important;
}

.bee-black {
  color: var(--bee-black) !important;
}

.bee-white {
  color: var(--bee-white) !important;
}

.bee-blue-border {
  border: 1px solid var(--bee-blue) !important;
}

.hexa-shape {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexa-shadow {
  box-shadow: 0px 4px 24px rgba(72, 145, 255, 0.1);
}

.list-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 14px 54px rgba(72, 145, 255, 0.3);
}

body {
  font-family: 'Satoshi', sans-serif;
  color: var(--color-text);
  background-color: var(--color-contrast);
  backdrop-filter: blur(205px);
}

main,
.container {
  max-width: var(--max-width);
  padding: 0 20px;
  margin: 50px auto;
}

@media (min-width: 768px) {
  main,
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  main,
  .container {
    padding: 0 120px;
  }
}

img,
video,
iframe,
svg {
  max-width: 100%;
}

@layer components {
  .btn {
    @apply bee-white bg-[var(--bee-blue)] py-3 px-6 rounded-lg text-lg font-bold flex max-w-fit;
  }
}

@keyframes toggleColor {
  from {
    fill: var(--bee-blue);
  }
  to {
    fill: var(--bee-black);
  }
}

.icon-1 {
  animation: toggleColor 2s ease-in-out infinite;
}

.icon-2 {
  animation: toggleColor 2s ease-in-out 0.66s infinite;
}

.icon-3 {
  animation: toggleColor 2s ease-in-out 1.33s infinite;
}
