@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --bee-blue: #4891ff;
  --bee-black: #161616;
  --bee-white: #ffffff;

  --max-width: 1440px;
}

.bee-blue {
  color: var(--bee-blue) !important;
}

.bee-black {
  color: var(--bee-black) !important;
}

.bee-white {
  color: var(--bee-white) !important;
}

body {
  font-family: "Satoshi", sans-serif;
  color: var(--bee-black);
  background-color: var(--bee-white);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.44) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(205px);
}

main,
.container {
  max-width: var(--max-width);
  padding: 0 20px;
  margin: 50px auto;
}

@media (min-width: 768px) {
  main,
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  main,
  .container {
    padding: 0 120px;
  }
}

img,
video,
iframe,
svg {
  max-width: 100%;
}

@layer components {
  .btn {
    @apply bee-white bg-[var(--bee-blue)] py-3 px-6 rounded-lg text-lg font-bold flex max-w-fit;
  }
}
